<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <type name="Sway\Teste\Console\Command\HelloWorld">
        <plugin name="primeiro_plugin" sortOrder="10" type="Sway\Plugins\Plugin\MeuPlugin"/>
    </type>
</config>
