<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <event name="customer_login">
        <observer name="meuobserver" instance="Sway\Observadores\Observers\CustomerLogin" shared="false"/>
    </event>
</config>
