<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Sway_AdminController::menu" sortOrder="10" disabled="false" title="Sway Menu">
                    <resource id="Sway_AdminController::item" sortOrder="20" disabled="false" title="Sway Item"/>
                    <resource id="Sway_AdminController::itemDois" sortOrder="21" disabled="false" title="Sway Item Segundo"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
